@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500&display=swap');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color-orange: rgb(212, 134, 38);
    --primary-color-orange: #FF8C00;
    --secondary-color-dark-white: rgb(73, 73, 73);
    --secondary-color-dark-light: rgb(105, 105, 105);
    --normal-white: rgb(245, 237, 237);
}
html{ 
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    scroll-behavior: smooth;
    clear: all;
}


.modal-custom span{
    font-size: 1.9rem;
}

.modal-custom input{
    width: 100%;
    height: 3rem;
    font-size: 0.8rem;
}

body{
    overflow-x: hidden;
}

section{
    padding: 1.9rem  0; 
    overflow: hidden;
}

img{
    width: 100%;
    max-width: 100%;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.6rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.8rem;
}
h6{
    font-size: 0.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-family: 'Roboto', sans-serif;

}
a{
    text-decoration: none !important;
    font-size: 0.8rem;
}

p{
    font-size: 1.1rem;
}
ul{
    list-style: none;
}

.container{
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.back-to-top a{
    color: var(--primary-color-orange);
    background-color: var(--secondary-color-dark-white);
    padding: .8rem 1.3rem;
    border-radius: 9%;
    font-size: large;
    position: absolute;
    top: -2.6rem;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 1px 1px 10px 1px #383434;

}

.back-to-top a:hover{
    color: var(--normal-white);
}

.back-to-top  i{
    display: block;
    font-size: 2.5rem;
    padding: 2rem;
    animation: topUp 2s infinite;

}

/* Header Style */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}
.logo img{
    width: 100px;
    margin: 10px 0;
}
.nav{
    height: 5.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.3rem;
    cursor: pointer;
    z-index: 199;
}

.fa-times{
    display: none;
}
.nav-list{
    list-style: none;
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color-dark-white);
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
    transform: translateX(130%);
    transition: transform .4s;
}

.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 99;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}
.cat-item a{
    font-size: 1rem;
}

.open .fa-times{
    display: block;
}

.open .fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(255,255,255,.3);
    text-align: center;
    padding: 5px;
    display: flex;
    align-items: center;
}
.nav-item .mbtn{
    margin-top: 0;
}

.nav-link{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: color .5s;
}
.nav-link:hover{
    color: var(--primary-color-orange);
}

.bd-example-modal-lg{
    z-index: 99999;
}

/* Hero Style */


.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 0;
}


.herofor-single{ 
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 0;
}

.herofor-single .sub-headline{
    font-size: 2.3rem !important ;
}

.sub-headline{
    margin-top: 5rem;
    color: var(--normal-white);
    font-weight: 500;
    line-height: 1;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}

.headline{
    color: var(--normal-white);
    font-size: 1.4rem !important;
    font-weight: 400;
    letter-spacing: 0em !important;
    margin-right: -.5rem;
    animation: scale .5s forwards;
}

.seperator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 6.4rem;
    height: .19rem;
    background-color: var(--primary-color-orange) ;
    position: relative;
    opacity: 0;
    animation: grow 2.5s forwards;
    animation-delay: .9s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .4rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.3s;
}

.line-right::before{
    border-right-color: var(--primary-color-orange);
    right: 0;
}

.line-left::before{
    border-left-color: var(--primary-color-orange);
    left: 0;
}

.asterisk{
    font-size: 0.8rem;
    color: var(--secondary-font-color);
    margin: 0.5rem 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}
.single-animation{
    scroll-behavior: smooth;
    font-size: 1.2rem;
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.mbtn{
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 0px;
    margin-right: -2px;
    font-size: 1rem ;
    margin-top:20px;
    color: var(--normal-white);
    outline: none;
    font-weight: 400;
}
.mbtn:hover{
    cursor: pointer;
}

.cta-btn{

    background-color: var(--secondary-color-dark-white);
    padding: 0.8rem 1.5rem ;
    border: 1px solid transparent ;
    border-radius: .2rem;
    transition: background-color .3s ;
   
}
.bta-btn{
    background-color: var(--primary-color-orange);
    padding: 0.8rem 1.5rem ;
    border: 1px solid transparent ;
    border-radius: .4rem;
    transition: background-color .3s ;
}
.bta-btn:hover,
.bta-btn:focus{
    color: #fff;
    background-color: var(--secondary-color-orange);
}

.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-color-dark-light);
}

/* Category menu  */
#cat-section{
    box-shadow: 1px 2px 10px 1px #7c7c7c;
}
.cate-menu{
    padding: 16px 0;
}

.cat-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.cat-item{
    text-align: center;
    padding: 0.2rem 0.5rem 0.5rem 0.5rem;
    background-color: transparent;
    color: var(--secondary-color-dark-white) ;
    border:none;
    margin: 0.1rem 0.6rem;
    transition: background-color .3s;
}

.cat-item:hover{
    cursor: pointer;
    background-color: var(--secondary-color-dark-light);
    border-radius: 4%;
}
.cat-item:hover a{
    color: var(--normal-white) ;
}

.cat-item a{
    text-decoration: none ;
    color: var(--secondary-color-dark-white);
    font-size: 1.1rem;
}


/* Featured Section */ 
.post-one{  
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    box-shadow: -1px 1px 10px 1px #c3c3c3;
    transition: transform .2s;
}

.post-one:hover{
    cursor: pointer;
    transform: translateY(-4px);
}

.body-hover:hover h2{
    color: var(--primary-color-orange);
}

.post-cat-tag{
    padding: .4rem;
    color: rgb(19, 17, 17);
    font-weight: 500;
    background-color: var(--primary-color-orange);
    border-radius: 1px;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.post-one-body{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-right: 50px;
    padding-bottom: 30px;
}

.post-one-body h2{
    color: var(--normal-white);
    transition: color .5s;
}

.post-one-body p{
    color: var(--normal-white);
}

.post-footer{
    width: 100%;
    color: var(--normal-white);
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.post-foot img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 5px;
}

/* Most Recent Section */
.tag-for-recent{
    background-color: var(--primary-color-orange);
    color: var(--secondary-color-dark-white);
    position: absolute;
    top: 20px;
    left: 20px;
}

.recent-post{
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: -1px -1px 10px 3px #e0d7d7; 
    transition: transform .2s;
}

.recent-post:hover{
    transform: translateY(-3px) ;
    box-shadow: 1px 1px 8px 1px #f1eeee; 
}

.recent-post > span{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--primary-color-orange);
}

.post-recent-body{
    width: 100%;
    padding: 8px 20px;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.post-recent-body h2{
    color: var(--secondary-color-dark-white);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200 ;
    font-size: 1.3rem;
}

.post-recent-body p{
    color: var(--secondary-color-dark-white);
    font-style: oblique;
}

.post-recent-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid #e7e7e7;
    border-top: none;
    font-size:1rem;
}

.post-recent-foot img{
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondary-color-dark-white);
    border-radius: 50%;
}

.post-recent-foo{
    padding-top: 3px;
}

/* Newsletter section */
#newsletter-section{
    background-image: linear-gradient(to bottom, rgba(41, 41, 41, 0.76), rgba(78, 78, 78, 0.781) ), url('./images/post_images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter{
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

.newsletter-heading{
    color: var(--normal-white);
}

.newsletter input{
    width: 100%;
    height: 3.8rem ;
    outline: none;
    font-size: 1.2rem;
}
.newsletter input::placeholder{
    font-size: 1.2rem;
}

.newsletter .input-group-append .input-group-text{
    font-size: 1.6rem;
    background-color: var(--primary-color-orange);
    color: var(--normal-white);
    border: none;
    padding: 0 2rem;
    transition: background-color .4s;
}

.newsletter .input-group-append .input-group-text:hover{
    background-color: var(--secondary-color-orange);
    cursor: pointer;
}

/* Footer Section */

#footer{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(78, 78, 78, 0.8), rgba(117, 19, 93, 0.8)), url('./images/post_images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: -2px -2px 20px 2px #383838;
}

footer{
    color: var(--secondary-color-dark-white);
    background-color: var(--secondary-color-dark-white);
    position: relative;
}

.footer-logo{
    display: flex;
    justify-content: center;
}

.footer-logo img{
    width: 55px;
    height: 55px;
}


.footer-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    float: right;       
}
.footer-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;   

}
.footer-item{
    padding: 1rem .5rem;
    margin: 0 1.5rem;
    border-bottom: 1px solid var(--primary-color-orange);
    text-align: center;
}

.footer-link{
    font-size: 1rem;
    font-weight: 500;
    color: var(--normal-white);
    transition: color .5s;
}

.footer-link:hover{
    color: var(--primary-color-orange);
}

.footer -link{
    color: var(--secondary-color-dark-white);
}

/* Copyright Area */
.copyright{
    margin-top: 0.6rem;
    font-size: 0.9rem;
    border-top: 1px dotted rgb(138, 138, 138);
}
.copyright a{
    text-decoration: underline;
    color: var(--normal-white);
}
.copyright a:hover{
    color: var(--primary-color-orange);
}

/*About Us Page*/
.aboutus-img{
    width: 100%;
    height: 70vh;
}


/* Categories Page */
.cat-div{
    width: 100%; 
    position: relative;
}

.cat-div:hover img{
    cursor: pointer;
    transform: scale(1.05);

}

.cat-div-img{
    width: 100%;
    transition: transform .4s;
}

.cat-div .post-cat-tag{
    text-transform: capitalize;
    background-color: transparent;
    letter-spacing: normal ;
    width:100%;
    font-size: 1.12rem;
    font-weight: 400;
    padding: 1rem 3rem;
    z-index: 0;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--normal-white);
    
}

.contact-social{
    font-size: 1.1rem;
    line-height: 10px;
}

.social-div a{
    color: var(--secondary-color-dark-dark);
}

.social-div a:hover{
    color: var(--secondary-color-dark-light);
}

.bicon{
    margin: 0 0.8rem;
}
 
#contact-form{
    width: 100%;
    position: relative ;
    font-size: 1.2rem;
}

::placeholder{
    font-size: 1.1rem;
}

#contact-form input{
    width: 100%;
    height: 3.7rem;
    font-size: 1.1rem;
}
#contact-form textarea{
    font-size: 1.1rem;
}
.submit-message{
    color: #FF8C00 ;
    font-size: 1rem;

}


/* Blogs Post Details Page */  

.blog-details-content-area{
   width: 100%;

}

.blog-details-content-body{
    width: 85%;
    margin: 0 auto;
}

.min-head{
    font-size: 1.2rem;
}

.post-details-headings{
    font-size: 1.6rem;
    margin: .6rem 0;
    text-transform: capitalize;
}

.post-details-img{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.post-details-img img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blog-details-author{
    width: 85%;
    margin: 5rem auto 0 !important;
    position: relative;
    padding: 3rem  1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 1px 10px 0px #8f8f8f;
    transition: box-shadow .3s;
}

.blog-details-author:hover{
    box-shadow: 1px 1px 10px 4px #afafaf;
}

.author-image{
    width: 100px;
    height: 100px;
    border: 2px solid var(--secondary-color-dark-white);
    border-radius: 50%;
}

.author-title{
    padding: 0.1rem 0;
}

.author-desc{
    font-size: 1rem;
}

.author-social{
    width: 60%;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.author-social span .authicon{
    font-size: 1.8rem;
    color: var(--secondary-color-dark-white);
    transition: color .5s;
}

.author-social a:hover .authicon{
    color: var(--primary-color-orange);
}

.search{
    box-shadow: 1px 1px 5px 2px #b6b6b6;
}

.search input{
    font-size: 1.2rem;
    width: 100%;
    height: 3.5rem;
} 

.input-group-append button{
    cursor: pointer;
    background-color: var(--primary-color-orange);
    border: none;
    outline-style: none;
    font-size: 1.3rem !important;
}

.post-one-body h3{
    color: var(--normal-white);
}

/* share post icons */
.share-post{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.share-icon {
    font-size: 1.5rem ;
    margin-left: 1rem ;
    cursor: pointer;
}

/* Responsive  */

@media screen and (min-width:996px){
    section{
            padding: 6.9rem 0  3.9rem !important; 
            overflow: hidden;
    }
    .menu-toggle{
        display: none;
    }

    .nav{
        justify-content: space-between 
    }
    .nav-list{
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
    .nav-item{
        margin: 0 0.7rem;
        border: none;
        font-weight: 400;
    }
    .nav-item:last-child{
        margin-right: 0;
    }
    .nav-item a{
        font-size: 0.9rem;
    }
    .nav-link{
        font-size: 1.3rem;
    }
    .active{
        position: relative;
    }
    .active::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        left: 0;
        bottom: -3px;
    }
    .sub-headline{
        font-size: 2.4rem ;
    }
    .first-letter{
        font-size: 1.2rem;
    }
    .headline{
        font-size: 1.2rem;
        letter-spacing: .8rem;
    } 
    .herofor-single .sub-headline{
        font-size: 2.5rem !important ;
    }

    /* footer */

    .footer-logo img{
        width: 65px;
    }

    .footer-list{
        margin-top: .8rem;
    }

    .footer-link{
        font-size: 1rem;
        font-weight: 500;
        color: var(--normal-white);
        transition: color .2s;
    }

    .blog-details-author{
        width: 50%;
    }
    .blog-details-content-body{
        width: 75%;
        margin: 0 auto;
    }

}


/* Animations */
@keyframes fadeUp{
    0%{
        transform: translateY(4rem);

    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes scale{
    0%{
        transform: scale(2);

    }
    100%{
        opacity:1;
        transform: scale(1);
    }
}

@keyframes grow{
    0%{
        width: 0;

    }
    100%{
        opacity:1;
        width: 100%;
    }
}

@keyframes spin{
    0%{
        transform: rotate(0);

    }
    100%{
        opacity:1;
        transform: rotate(-360deg);
    }
}

@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);

    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes topUp{
    0%{
        opacity: .5;
        transform: translateY(.9rem);
    }
    50%{
        opacity: 1;
    } 
    100%{
        opacity:0;
        transform: translateY(-.9rem);

    }
}




